<div>
     <h1>
        WELCOME TO Customer KYC
    </h1>
</div>
&nbsp;&nbsp;
&nbsp;&nbsp;

<div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Seach Username">
</mat-form-field>
  <!-- Select a status -->
<mat-form-field appearance="fill" >
    <mat-label>Status</mat-label>
 
    <mat-select (selectionChange)="onKycChange($event)">
      <mat-option value="confirmed">confirmed</mat-option>
      <mat-option value="rejected">rejected</mat-option>
      <mat-option value="pending">pending</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div class="mat-elevation-z8">
    <table mat-table  [dataSource]='dataSource' class="full-width-table" matSort aria-label="Elements" >
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
       
        <td mat-cell *matCellDef="let row"> <a [routerLink]="['/kycList', row.request_Id]"> {{row.username}}</a></td>
      </ng-container>

      <!--Status Column -->
      <ng-container matColumnDef="request_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        
        <td  mat-cell *matCellDef="let row" (click)=onSelect(row)>{{row.request_status}}</td>
      </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
            <td mat-cell *matCellDef="let row">{{row.level}}</td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
