<div>
<div>
     <h1>
        WELCOME TO Customer KYC
    </h1>
</div>


<div class="filters" class="color" >
  <div >
<mat-form-field class="mat-form-field-filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Seach Username">
</mat-form-field>
  <!-- Select a status -->
<mat-form-field appearance="fill" class= "flex-container" >
    <mat-label>Status</mat-label>
 
    <mat-select (selectionChange)="onKycChange($event)" >
      <mat-option value="confirmed">confirmed</mat-option>
      <mat-option value="rejected">rejected</mat-option>
      <mat-option value="pending">pending</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="mat-elevation-z8">
    <table mat-table  [dataSource]='dataSource' class="full-width-table" matSort aria-label="Elements" >
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
       
        <td mat-cell *matCellDef="let row">  {{row.username}}</td>
      </ng-container>

      <!--Status Column -->
      <ng-container matColumnDef="request_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        
        <td  mat-cell *matCellDef="let row" >{{row.request_status}}</td>
      </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
            <td mat-cell *matCellDef="let row">{{row.level}}</td>
          </ng-container>
          <ng-container matColumnDef="demo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>View more ...</th>
            <td mat-cell *matCellDef="let row" (click)=onSelect(row)><mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon></td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   
</div>
</div>