
<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>{{kycList?.last_name }} Information</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="{{kycList?.particulars[1]?.image}}" alt= {{kycList?.name}}>
    <mat-card-content>
    
      
        <p>First_name: {{kycList?.first_name}}</p>
        <p [(ngModel)]= "custreq" name= "custreq" ngDefaultControl>status: {{kycList?.request_status}}</p>
        <p>level: {{kycList?.level}}</p>
        <p>name: {{kycList?.name}}</p>
        <p>amount_max_daily: {{kycList?.amount_max_daily}}</p>
        <p>amount_max_weekly: {{kycList?.amount_max_weekly}}</p>
        <p>status: {{kycList?.particulars[1]?.document_is_valid}}</p>
      
    </mat-card-content>
    <mat-card-actions>
      <button  mat-button (click)="toggleDisabled()">Update status</button>
     
    </mat-card-actions>
  </mat-card>
  
  <form   [formGroup]="kycUpdateForm" (ngSubmit)="onSubmit()">
  <!--  <mat-form-field appearance="fill">
      <mat-label>Switch to what status</mat-label>
      <mat-select [disabled]="disabled" [(value)]="selected" (selectionChange)="onKycChange($event)">
          <mat-option value="rejected">Reject</mat-option>
          <mat-option value="confirmed"> Confirm</mat-option>
         </mat-select> 
    </mat-form-field>
-->
    <mat-label>firstName </mat-label>
    <mat-form-field appearance="outline">
      <input matInput  formControlName="firstName" name="firstName" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea  name= "message"   formControlName="message" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  
  <button class="button" type="submit">Submit</button>
</form>
  <button mat-button (click)="goBack()">BACK</button>