#login {
    width: 100%;
    background: 
    //url('/assets/images/backgrounds/cryptos2.jpeg') ,
    url('../../../../assets/images/backgrounds/cryptos.jpg'),
    url('../../../../assets/images/backgrounds/tezos-moon.jpg');
   // no-repeat;
    background-repeat: repeat-y;
    background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
    //background-color: lightblue;
    background-size: cover;
    animation: 500s para infinite linear;
    @keyframes para {
        100% {
            background-position: 
                -5000px 20%,
                -800px 95%,
                500px 50%,
                1000px 100%,
                400px 0;
            }
        }
    }