

<div class="container" >
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" placeholder = "Username" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div>
  <table class="table table-bordered table-hover ">
    
    <!-- Table head -->
    <thead class="blue-grey lighten-4 thead-dark">
    <tr>
        <th>username</th>
        <th>request_status</th>
        <th>level</th>
        
    </tr>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody>
    <tr *ngFor = 'let customer of customers'>
       
        <td>{{customer.username}}</td>
        <td>{{customer.request_status}}</td>
        <td>{{customer.level}}</td>
    </tr>
    
    </tbody>
    <!-- Table body -->
</table>
</div>